/* layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#sidebar {
position: fixed;
width: 20%;
top: 0;
bottom: 0;
}

#container,
footer {
margin-left: 20%;
}


/* background-colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#sidebar {
background-color: #484848;
}

body {
background-color: #F8F8F8;
}


/* paddings
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.sidebar {
padding: 2rem;
height: 100%;
}

#container {
padding: 2rem 4rem;;
}

footer {
padding: 1rem;
}


/* sidebar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.sidebar-about {
text-align: center;
margin-bottom: 15px;
}
.sidebar-about img {
box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}
.sidebar-about a{
color:#fff;
text-decoration: none;
}
.sidebar-tagline {
font-size: 2rem;
color: #b2b87a;
text-shadow: 0px 0px 15px #0A0F10;
line-height: 1;
}

.sidebar-nav {
margin: 20px -20px;
padding: 0px 20px;
}
.side-tags{
position:relative;
margin: 0px -20px;
padding: 5px;
height:200px;

}

a.sidebar-tags-link {
position:absolute; top:0px; left:0px;
font-weight:bold;
color: #b5bd68;
font-size: 18px;
text-decoration: none;
padding: 5px;
background:grey;
}
a.sidebar-tags-link:hover {
color: #ffa;
}

.sidebar-nav-list {
margin: auto;
list-style-type: none;
}
a.sidebar-link {
color: #b5bd68;
font-size: 20px;
text-decoration: none;
transition: all 0.2s ease-in-out 0s;
}
a.sidebar-link:hover {
color: #ffa;
padding-left: 10px;
}
.sidebar-nav-item.nav-home {
margin-bottom: 40px;
}
.sidebar-nav-item.nav-home .genericon-home,
.sidebar-nav-item.nav-home a {
color: #1EAEDB;
}

.sidebar-nav-item .genericon {
color: #DE935F;
font-size: 22px;
margin-top: 4px;
margin-right: 10px;
transition: all 0.5s ease;
}
.sidebar-nav-item .genericon:hover{
transform: scale(1.5);
}

.sidebar-externals {
margin-top: 30px;
text-align: center;
font-size: 30px;
}
.sidebar-externals a {
font-size: 30px;
vertical-align: middle;
color: #b5bd68;
}
.sidebar-externals a:hover {
color: #ffa;
}

.sidebar-bottom {
position: absolute;
bottom: 0;
color: rgba(255,255,255,.5);
font-size: 16px;
padding: 2rem;
}
.sidebar-bottom p {
margin: 0;
}
.sidebar-bottom a {
text-decoration: none;
}

@media screen and (max-height:830px) {
  .sidebar-bottom {
    display: none;
  }
}
@media screen and (max-width:1600px) {
  .sidebar-bottom {
    display: none;
  }
}

/* home
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.post-infos,
.footnote {
font-family: verdana,arial,helvetica,sans-serif;
color: #888;
font-size: x-small;
margin-bottom: 0;
}
.post-infos {
color: #AAA;
text-transform: uppercase;
letter-spacing: 0.1em;
border-bottom: 1px solid #EEE;
}

.post-header h2 {
font-family: Arial,sans-serif;
margin-top: 4px;
}

section.post {
margin-bottom: 30px;
}

.section {
width: 60%;
margin: auto;
font-size: 20px;
}

.section .posts {
list-style-type: disc;
}

.section .posts li a {
color:#369;
text-decoration: none;
}
.section .posts li a:hover {
text-decoration: underline;
}

.section time {
float: right;
color: #c9c9c9;
font-family: "Helvetica Neue", helvetica, "Open Sans", sans-serif;
text-shadow: 1px 1px #fff;
}


/* post
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.post {
font-family: proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
color: #484848;
font-size: 16px;
line-height: 25px;
text-align: justify;
}
.post .genericon {
vertical-align: middle;
}
.post ul {
padding-left: 30px;
}

.post a {
color: #c05b4d;
text-decoration: none;
}
.post a:hover {
color: #a5473a;
text-decoration: underline;
}

a.readmore {
color: #484848;
background-color: #C05B4D;
padding: 6px 20px;
}
a.readmore:hover {
color: #C05B4D;
background-color: #484848;
text-decoration: none;
}

.post h1 {
color: #C05B4D;
font-weight:900;
font-size: 26px;
letter-spacing:normal;
font-variant:small-caps;
}

.post h2 {
color: #C05B4D;
font-size: 22px;
letter-spacing:normal;
}

.post h3 {
color: #C05B4D;
font-size: 21px;
letter-spacing:normal;
}

.post h4 {
color: #C05B4D;
font-size: 20px;
letter-spacing:normal;
}

.post h5 {
color: #C05B4D;
font-size: 19px;
letter-spacing: normal;
}

.post h6 {
color: #C05B4D;
font-size: 18px;
letter-spacing: normal;
}

#post-header h1 {
font-weight: bold;
}
/*pre and next
---------------------------------------------------*/
.prenext{
float:right;
color:grey; 
font-size: 20px;
line-height: 25px;
padding:20px,50px;
margin:10px;
}
.prenext a {
color:#b2b87a; 
font-weight: bold;
text-decoration: none;
}
/* payment
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.payment{
margin:20px 0; 


}
/* TableOfContents
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.mlistence {
float: left;
width: 100%; 
padding: 0 0 2rem 2rem;
border-left: 1px solid #eee;
font-size: 0.9rem;
background:#ad826d;
}
.mlistence a{
color:#aabd68;
}
.toc {
float: right;
width: 20%;
padding: 0 0 2rem 2rem;
border-left: 1px solid #eee;
font-size: 0.9rem;
}

.toc-label {
font-size: 2rem;
color: #de935f;
font-variant:small-caps;
}

#TableOfContents {
padding-top: 1rem;
}
#TableOfContents a {
letter-spacing: 0.05rem;
text-transform: uppercase;
font-size: 0.85rem;
text-decoration: none;
line-height: 1.5rem; 
color: #de935f;
}

/* footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer {
text-align: center;
}
.footnote a {
color: #888;
}
.footnote a:hover{
text-decoration: underline;
color:#369;
}

/* shortcodes
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.youtube-player {
border: 0;
}
